.title {
  font-weight: bold; /* Bold font */
  color: #343a40; /* Dark text color */
  animation: fadeIn 1s ease-in-out, bounce 2s infinite; /* Animation effects */
  font-family: 'Gugi', sans-serif;
}

@keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(-20px); /* Move title up */
  }
  100% {
      opacity: 1;
      transform: translateY(0); /* Reset position */
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0); /* Normal position */
  }
  40% {
      transform: translateY(-5px); /* Move up */
  }
  30% {
      transform: translateY(-5px); /* Move slightly up */
  }
}
